.myslider {
  /* height: 40vh; */
}
.myimg {
  height: 50vh;
}
img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.sect3div {
  height: 30%;
}
.sect3div img {
  overflow: hidden;
  transition: 0.5s;
}
.sect3div img:hover {
  scale: 1.2;
}
